@model ProductFormViewModel

@{
    ViewData["Title"] = Model.Heading;
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <span class="text-white py-2 h2 text-uppercase">
                    @Model.Heading Product
                </span>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Save" class="row" enctype="multipart/form-data" id="productForm">
            @if (Model.IsEdit)
            {
                <input hidden asp-for="Product.Id" />
            }
            else
            {
                <input hidden asp-for="Product.Id" value="0" />
            }
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="py-2 col-12">
                            <label asp-for="Product.Name" class="my-1 text-muted"></label>
                            <input asp-for="Product.Name" class="form-control" />
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="my-1 text-muted"></label>
                            <textarea asp-for="Product.Description" rows="2" class="form-control"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.SKU" class="my-1 text-muted"></label>
                            <input asp-for="Product.SKU" class="form-control" />
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.UnitPrice" class="my-1 text-muted"></label>
                            <input asp-for="Product.UnitPrice" class="form-control" />
                            <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.UnitsInStock" class="my-1 text-muted"></label>
                            <input asp-for="Product.UnitsInStock" class="form-control" />
                            <span asp-validation-for="Product.UnitsInStock" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.ImagePath" class="my-1 text-muted"></label>
                            <input type="file" id="uploadBox" name="file" class="form-control" />
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.CategoryId" class="form-label"></label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-select">
                                <option disabled selected>Please select one</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.IsEdit)
                                {
                                    <button type="submit" class="btn btn-primary form-control text-uppercase">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control js-validate-upload text-uppercase">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a class="btn btn-secondary border form-control text-uppercase" asp-controller="Products" asp-action="Index">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if (Model.IsEdit)
                    {
                        <img src="@Model.Product.ImagePath" class="img-fluid img-product" />
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/js/products/productForm.js"></script>
}
