@{
	ViewData["Title"] = "Checkout";
}


<form method="post">
<div class="card shadow border-0 mt-4">
		<div class="card-header bg-secondary bg-gradient text-light py-4">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="text-white text-uppercase">
						Checkout
					</h3>
				</div>
			</div>
		</div>
			<div class="card-body">
				<div class="row pb-4">
						<div class="col-12 text-end">
							<a class="btn btn-outline-secondary fw-bold text-uppercase btn-sm">Back to Shopping Cart</a>
						</div>
					</div>
				<div class="row">
						<div class="col-12 col-lg-6 pb-2">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Name</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Phone</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Street Address</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>City</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>State</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
							<div class="row my-1">
								<div class="col-3">
									<label>Postal Code</label>
								</div>
								<div class="col-9">
									<input class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-info">Order Summary:</span>
							</h4>
							<ul class="list-group mb-3">
								<li class="list-group-item d-flex justify-content-between">
									<div>
										<h6 class="my-0">Title</h6>
										<small class="text-muted">Quantity: Count</small>
									</div>
									<span class="text-muted">Price * Count </span>
								</li>


								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-info">Total</small>
									<strong class="text-info">$$</strong>
								</li>
							</ul>
						</div>
					</div>
			</div>
			<div class="card-footer bg-white border-0 p-0 pe-4">
				<div class="row">
					<div class="col-3 offset-9 mb-3">
						<button type="submit" value="Place Order" class="btn btn-primary form-control text-uppercase fw-semibold bg-gradient">Place Order</button>
					</div>
				</div>
		</div>
		</div>
</form>
