html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*bootstrap overrides*/

a {
    color: rgba(64, 115, 18, var(--bs-link-opacity, 1));
}

    a:hover {
        color: rgba(117, 209, 36,1);
    }
label {
    font-size: 1.1rem;
}

footer a {
    color: #edca07;
}

    footer a:hover {
        color: #ffd800;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.bg-primary {
    background-color: #61b33b !important;
}

.bg-secondary {
    background-color: #009bb3 !important;
}

.text-primary {
    color: #4d8a17 !important;
}

.btn-primary {
    background-color: #61b33b;
    border-color: #61b33b;
}

    .btn-primary:hover {
        background-color: #449448;
        border-color: #449448;
    }

.btn-secondary {
    border-color: #e8b415; 
    background-color: #e8b415;
}

    .btn-secondary:hover {
        background-color: #dbab14;
        border-color: #dbab14;
    }

.btn-danger {
    background-color: #de3b0d;
}

    .btn-danger:hover {
        background-color: #ba320b;
    }

.dropdown-menu {
    background-color: #fff;
    border-color: #b5b4b4;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #f89880;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #009bb3;
}